/* nav bar styles */
:root {
  --retro-black: #000000;
  --retro-cream: #fffdd0;
}

.App {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: 120px;
}

.logo img {
  height: 170px;
  width: 170px;
}

/* Adjust .nav-left to move the logo more to the left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -100px; /* Adjust this if you need more left space */
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: var(--retro-cream);
  font-size: 20px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  box-shadow:
    0 0 0 4px var(--retro-black),
    0 0 0 8px #4eb7b4,
    0 0 0 14px var(--retro-black),
    0 0 0 17px #064c72;
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: var(--retro-cream);
  min-width: 200px;
  border: 4px solid var(--retro-black);
  box-shadow:
    0 0 0 4px var(--retro-black),
    0 0 0 8px #4eb7b4,
    0 0 0 12px var(--retro-black),
    0 0 0 16px #064c72;
  z-index: 1000;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 20px;
}

.dropdown-content a {
  color: var(--retro-black);
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #064c72;
  color: var(--retro-cream);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.username {
  color: var(--retro-cream);
  margin-right: 20px; /* Increase the margin between username and logout button */
  font-size: 20px;
  font-family: "Rampart One", sans-serif;
}

/* Adjust user controls for more gap between username and logout button */
.user-controls {
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust this gap to increase space between username and logout button */
}

.logout-btn {
  background-color: transparent;
  box-shadow:
    0 0 0 4px var(--retro-black),
    0 0 0 8px #4eb7b4,
    0 0 0 14px var(--retro-black),
    0 0 0 17px #064c72;
  border-radius: 4px;
  color: var(--retro-cream);
  font-size: 20px;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.3s ease;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.logout-btn:hover {
  background-color: #064c72;
  color: var(--retro-cream);
  border: var(--retro-cream);
}

/* Right side nav container */
.nav-right {
  display: flex;
  align-items: center;
  margin-left: 1130px;
}

/* random change  */
