/* Right section with nav-right buttons */
.nav-right {
  display: flex;
  align-items: center;
  gap: 60px; /* Increased spacing between buttons */
  margin-left: auto; /* Pushes this section to the right */
  position: absolute; /* Fixes the button section at the top-right */
  top: 36px; /* Adjusted to move the buttons lower */
  right: 50px; /* More padding from the edge */
}

/* Button Styles */
.nav-button,
.watch-button {
  background-color: transparent;
  box-shadow:
    0 0 0 4px var(--retro-black),
    0 0 0 8px #4eb7b4,
    0 0 0 14px var(--retro-black),
    0 0 0 17px #064c72;
  border-radius: 4px;
  color: var(--retro-cream);
  font-size: 20px;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.3s ease;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Hover effect on buttons */
.nav-button:hover,
.watch-button:hover {
  background-color: #064c72;
  color: var(--retro-cream);
  border: var(--retro-cream);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative; /* Ensures the logo stays inside the navbar */
  top: 0; /* Keeps it aligned properly */
}

.logo img {
  height: 100px; /* Adjust the logo size if needed */
  width: auto;
  /* max-height: 100%; Ensures the logo stays within the navbar height */
}
